{% load rich_text %}
<div class="row">
<label class="col-md-3 col-form-label">RT <a href="#">234567</a></label>
<div class="col-md-9">
<div class="mt-1">
<b>42c3-Content:</b> "Your proposal: Right-sized zero-defect attitude"
</div>
</div>
</div>
<div class="row">
<label class="col-md-3 col-form-label">Zammad <a href="#">12345</a></label>
<div class="col-md-9">
<div class="mt-1">
<span style="color: #fcac01;"><i class="fa fa-circle"></i></span> <b>Speakersdesk:</b> "Printout"
</div>
</div>
</div>
<div class="row">
<label class="col-md-3 col-form-label">Zammad <a href="#">12346</a></label>
<div class="col-md-9">
<div class="mt-1">
<span style="color: #31af68;"><i class="fa fa-circle"></i></span> <b>Reiseb&uuml;ro:</b> "Rechnung: 67890 - Reisende/r: ..."
</div>
</div>
</div>
